# Azure DevOps Pipeline for building the builder image
# This can be used to build the builder image separately

trigger:
  branches:
    include:
      - azure
  paths:
    include:
      - build-server/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  acrName: 'vercelclone'
  imageName: 'builder'

steps:
  - task: Docker@2
    displayName: 'Build and Push Builder Image'
    inputs:
      containerRegistry: 'ACRConnection'
      repository: $(imageName)
      command: 'buildAndPush'
      Dockerfile: 'build-server/Dockerfile'
      tags: |
        latest
        $(Build.BuildId)
        v$(Build.BuildNumber)

